.navbar-nav {
    width: 100%;    
}

.navbar-nav a {
    padding: 10px;
}

#navigacio {   
    background-color: lightgray;
    box-shadow: 2px 2px 8px 2px black;
    padding: 0;
}

.active {
    background-color: #327AB7;
    color: white !important;
}

nav .nav-item:hover a{
    background-color: #327AB7;
    color: white !important;
}

main .table, main h3 {
    width: 90%;
    margin-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

main form {
    width: 90%;
    margin-left: 50px;    
}

.functions a img {
    width: 20px;
}

.functions {
    text-align: center;
}

/* #ujdoksi_form input, #ujdoksi_form select, #ujdoksi_form textarea {
    margin-top: 10px;    
} */

form div[class*="row"] {
    margin-top: 10px;    
}

form .row>div>label, form .row>label {
    font-weight: bold;
}