body {
    font-family: 'Montserrat', sans-serif;
    min-width: 380px;
}

h1, h2 {
    font-size: 1.2rem;    
}

h1, h2, h3, #author, #user {
    font-weight: 600;
}

header a img {
    width: 1.6rem;
}

#reszletek {   
   background-color: lightgray;
   box-shadow: 2px 2px 8px 2px black;
}

#user {
    margin-right: 2rem;
}

@media screen and (max-width:992px) {
    body {
        font-size: .8rem;        
    }
    h1, h2 {
        font-size: .9rem;    
    }   
    header a img {
        width: 1.2rem;
    }     
}

@media screen and (max-width:656px) {
    body, button {
        font-size: .6rem;            
    }
    h1, h2, button {
        font-size: .7rem;    
    }   
    header a img {
        width: 1rem;
    }       
}

table, th, td {
    border: 1px solid lightgrey;
}

.rejtett {
    display: none;
}

